$--color-primary__blue: #278bff !important;
$--color-primary__green: #26bf6b !important;
$--color-sub__yellow: #ff9541 !important;
$--color-warning__red: #ff5050 !important;
$--color-white: #fff !important;
$--color-black: #333 !important;
$--color-gray_C: #cccccc !important;
$--color-gray_9: #95a0a9 !important;
$--color-gray_7: #767d83 !important;
$--color-gray_999: #999 !important;
$--color-gray_555: #555 !important;
$--color-gray_aaa: #aaa !important;
$--color-hover_d: #47535c !important;
$--color-hover_l: #f0f5fc !important;
$--color-listbox-hover: #192F66;

$--theme-font-color: "";
$--theme-bg-page: "";
$--theme-bg-card: "";
$--theme-hover-color: "";
$--theme-button-close-color: "";
$--theme-color-w-g5: "";
$--theme-color-gc-g9: "";
$--theme-color-g5-gc: "";
$--theme-color-g7-g9: "";
$--theme-color-g9-g7: "";

$scrollbar-width: 11px; // 스크롤 바
$column-spacer: 20px; // 검색 영역 열 간격
$row-spacer: 14px; // 검색 영역 행 간격

$color: (
  "black": ("0": #000,
    "1": #111,
  ),
  "white": ("0": #fff,
  ),
  "week": ("sun": #fb5a83,
    "sat": #2d8cf6,
  ),
);

$--color-select-light: #192F66 !important;
$--color-select-aqua-blue: #11ACA8 !important;
$--color-select-green: #12B967 !important;
$--color-select-blue: #0072BB !important;
$--color-select-orange: #EE7910 !important;
$--color-select-gray: #6C757E !important;
$--color-select-navy: #0D518B !important;

$config: (
  dark: (w-g5: $--color-white,
    g5-w: $--color-gray_555,
    gc-g9: $--color-gray_C,
    g5-gc: $--color-gray_555,
    g7-g9: $--color-gray_7,
    g9-g7: $--color-gray_9,
    pageBackground: #23272b,
    cardBackground: #242940,
    hover: #47535c,
    btnClose: #24282c,
    scrollbar-track: #2f334a,
    scrollbar-thumb: #575b72,
    card-default-color: #fff,
    card-subtitle: rgba(255, 255, 255, 0.6),
    activate: #fff,
    non-activate: rgba(255, 255, 255, 0.6),
    text-subcolor: rgba(255, 255, 255, 0.6),
    border-color: rgba(255, 255, 255, 0.1),
    router-header: #000000,
    router-tab-item: #343a40,
    router-tab-item-active: #1b2531,
    router-tab-item-border: #1b2531,
    //m
    router-tab-item-color: #a4a9b6,
    router-tab-item-active-color: #6760f6,
    router-tab-item-icon-color: #abafbc,
    //m
    router-tab-item-icon-active-color: #fff,
    router-tab-item-hover-color: #6760f6,
    router-tab-slot-end-button-backgroundColor: #144985,
    v-btn-backgroundColor: #144985,
    v-box: #383f5d,
    v-banner-border-color: rgba(255, 255, 255, 0.1),
    v-treeview-node-root-backgroundColor: #0d6efd,
    v-treeview-node-root-label-color: #fff,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #fff,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #343a40,
    v-treeview-node-label-color: rgba(255, 255, 255, 0.6),
    v-treeview-node-label-active-color: #fff,
    v-treeview-leaf-active-backgroundColor: rgba(45, 51, 85, 0.5),
    v-treeview-leaf-active-color: #3896ff,
    v-treeview-icon-color: rgba(255, 255, 255, 0.6),
    v-treeview-icon-active-color: #fff,
    v-input-backgroundColor: rgba(13, 15, 23, 0.3),
    v-input-fieldset-color: rgba(255, 255, 255, 0.32),
    v-input-fieldset-hover-color: rgba(255, 255, 255, 1),
    v-input-icon-color: #fff,
    v-input-readonly-border-color: rgba(255, 255, 255, 0.3),
    v-input-readonly-backgroundColor: rgba(57, 64, 94, 0.3),
    v-input-disabled-backgroundColor: rgba(57, 64, 94, 0.3),
    v-input-disabled-color: rgba(255, 255, 255, 0.2),
    v-select-label-color: #fff,
    v-calendar-weekday-backgroundColor: #383f5d,
    v-calendar-weekday-color: #fff,
    v-calendar-weekday-border-color: rgba(255, 255, 255, 0.1),
    v-calendar-day-color: #fff,
    v-calendar-day-in-not-month-color: rgba(255, 255, 255, 0.05),
    v-calendar-is-today-background-color: #2d4571,
    tui-grid-header-backgroundColor: #383f5d,
    tui-grid-border-horziontal-color: #383f5d,
    tui-grid-border-vertical-color: rgba(255, 255, 255, 0.1),
    tui-grid-cell-backgroundColor: #242940,
    tui-grid-cell-color: #fff,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #1a4e87,
    tui-grid-cell-modify-color: #13636c,
    tui-grid-cell-removed-color: #f6637b,
    tui-grid-cell-hover-backgroundColor: #31375b,
    v-tabs-items-border-color: rgba(255, 255, 255, 0.7),
    v-tabs-backgroundColor: rgba(57, 64, 94, 0.5),
    v-tabs-active-backgroundColor: #242940,
    v-tabs-active-border-color: rgba(255, 255, 255, 0.7),
    v-dialog-card-text-color: #fff,
    tui-datepicker-backgroundColor: #0d0f17,
    tui-datepicker-border-color: rgba(255, 255, 255, 0.3),
    tui-datepicker-selectable-hover-color: #2d3355,
    tui-datepicker-selected-color: #1a4e87,
    tui-datepicker-calendar-color: #fff,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #0d6efd,

    color-point: #009bb4,
    color-primary: #6760f6,
    color-primary-hover: #4641a8,
    color-secondary: #5f6575,
    bg-color-basic: #283142,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #1b2531,
    bg-color-leftMenu: #283142,
    bg-color-paging: #2c374d,
    bd-color-basic: #313e51,
    bd-color-secondary: #313e51,
    bd-color-disabled: #313e51,
    bg-color-disabled2: #1b2531,
    bd-color-chkbox: #6760f6,
    bg-color-grid-hd: #1b2531,
    bg-color-grid-odd: #2c374d,
    bg-color-grid-even: #283142,
    bg-color-grid-hover: #3b517a,
    bg-color-grid-selected: #4e4a82,
    bg-color-input: #1b2531,
    bg-color-input-readonly: #313e51,
    ft-color-primary: #d7d6dc,
    ft-color-secondary: #5f6575,
    ft-color-basic: #d7d6dc,
    ft-color-disabled: #5f6575,
    ft-color-listbox: #d7d6dc,
    ft-color-listbox-hover: #6760f6,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,
    left-menu-1depth-active-color:#192F66
  ),
  light: (w-g5: $--color-gray_555,
    g5-w: $--color-white,
    gc-g9: $--color-gray_999,
    g5-gc: $--color-gray_C,
    g7-g9: $--color-gray_9,
    g9-g7: $--color-gray_7,
    fontColor: #333,
    pageBackground: #ececef,
    cardBackground: #fefefe,
    hover: #f0f5fc,
    btnClose: #f1f0f8,
    scrollbar-track: #e9e9e9,
    scrollbar-thumb: #bbbbbb,
    card-default-color: #111,
    card-subtitle: #555,
    activate: #111,
    non-activate: #555,
    text-subcolor: #999,
    border-color: #ddd,
    router-header: #fff,
    router-tab-item: #ffffff,
    //m
    router-tab-item-active: #f1f2f7,
    //m
    router-tab-item-border: #eef0f5,
    //m
    router-tab-item-color: #a4a9b6,
    //m
    router-tab-item-active-color: #192F66,
    //m
    router-tab-item-icon-color: #838aa6,
    router-tab-item-icon-active-color: #3e4c57,
    //m
    router-tab-item-hover-color: #192F66,
    //m
    router-tab-slot-end-button-backgroundColor: #3f4d7d,
    v-btn-backgroundColor: #4777d9,
    v-box: #f0f3fa,
    v-banner-border-color: #ddd,
    v-treeview-node-root-backgroundColor: #e7607b,
    v-treeview-node-root-label-color: #111,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #555,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #e1e7f3,
    v-treeview-node-label-color: #555,
    v-treeview-node-label-active-color: #111,
    v-treeview-leaf-active-backgroundColor: #edf1f7,
    v-treeview-leaf-active-color: #366dbe,
    v-treeview-icon-color: #a4aac3,
    v-treeview-icon-active-color: #616885,
    v-input-backgroundColor: #ffffff,
    v-input-fieldset-color: #b4b8c9,
    v-input-fieldset-hover-color: #b4b8c9,
    v-input-icon-color: #555,
    v-input-readonly-border-color: #b4b8c9,
    v-input-readonly-backgroundColor: #f5f5f5,
    v-input-disabled-backgroundColor: #eee,
    v-input-disabled-color: #bbb,
    v-select-label-color: #111,
    v-calendar-weekday-backgroundColor: #e0e0e0,
    v-calendar-weekday-color: #111,
    v-calendar-weekday-border-color: #d4d4d4,
    v-calendar-day-color: #111,
    v-calendar-day-in-not-month-color: #f8f8f8,
    v-calendar-is-today-background-color: #e3eaf3,
    tui-grid-header-backgroundColor: #e0e0e0,
    tui-grid-border-horziontal-color: #e0e0e0,
    tui-grid-border-vertical-color: #d4d4d4,
    tui-grid-cell-backgroundColor: #fff,
    tui-grid-cell-color: #555,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #ecf2fa,
    tui-grid-cell-modify-color: #e6f5f7,
    tui-grid-cell-removed-color: #fddde1,
    tui-grid-cell-hover-backgroundColor: #f5f5f5,
    v-tabs-items-border-color: #989db1,
    v-tabs-backgroundColor: #ddd,
    v-tabs-active-backgroundColor: #fff,
    v-tabs-active-border-color: #989db1,
    v-dialog-card-text-color: #111,
    tui-datepicker-backgroundColor: #fff,
    tui-datepicker-border-color: #b4b8c9,
    tui-datepicker-selectable-hover-color: #e1e7f3,
    tui-datepicker-selected-color: #4777d9,
    tui-datepicker-calendar-color: #111,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #e7607b,

    color-point: #009bb4,
    color-primary: #192F66,
    color-primary-hover: #002651,
    color-secondary: #a4a9b6,
    bg-color-basic: #ffffff,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #f5f5f5,
    bg-color-disabled2: #d4d4d4,
    bg-color-leftMenu: #192F66,
    bg-color-paging: #f5f5f5,
    bd-color-basic: #d7dae4,
    bd-color-secondary: #eef0f5,
    bd-color-disabled: #d7dae4,
    bd-color-chkbox: #222222,
    bg-color-grid-hd: #eef0f5,
    bg-color-grid-odd: #ffffff,
    bg-color-grid-even: #f5f5f5,
    bg-color-grid-hover: #caeaef,
    bg-color-grid-selected: #fffcd2,
    bg-color-input: #ffffff,
    bg-color-input-readonly: #eaeaec,
    ft-color-primary: #192F66,
    ft-color-secondary: #a4a9b6,
    ft-color-basic: #ffffff,
    ft-color-disabled: #d4d4d4,
    ft-color-listbox: #192F66,
    ft-color-listbox-hover: #192F66,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,
    left-menu-1depth-active-color:#192F66
  ),
  colAquablue: (
    w-g5: $--color-gray_555,
    g5-w: $--color-white,
    gc-g9: $--color-gray_999,
    g5-gc: $--color-gray_C,
    g7-g9: $--color-gray_9,
    g9-g7: $--color-gray_7,
    fontColor: #333,
    pageBackground: #ececef,
    cardBackground: #fefefe,
    hover: #f0f5fc,
    btnClose: #f1f0f8,
    scrollbar-track: #e9e9e9,
    scrollbar-thumb: #bbbbbb,
    card-default-color: #111,
    card-subtitle: #555,
    activate: #111,
    non-activate: #555,
    text-subcolor: #999,
    border-color: #ddd,
    router-header: #fff,
    router-tab-item: #ffffff,
    router-tab-item-active: #f1f2f7,
    router-tab-item-border: #eef0f5,
    router-tab-item-color: #a4a9b6,
    router-tab-item-icon-color: #838aa6,
    router-tab-item-icon-active-color: #3e4c57,
    router-tab-slot-end-button-backgroundColor: #3f4d7d,
    v-btn-backgroundColor: #4777d9,
    v-box: #f0f3fa,
    v-banner-border-color: #ddd,
    v-treeview-node-root-backgroundColor: #e7607b,
    v-treeview-node-root-label-color: #111,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #555,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #e1e7f3,
    v-treeview-node-label-color: #555,
    v-treeview-node-label-active-color: #111,
    v-treeview-leaf-active-backgroundColor: #edf1f7,
    v-treeview-leaf-active-color: #366dbe,
    v-treeview-icon-color: #a4aac3,
    v-treeview-icon-active-color: #616885,
    v-input-backgroundColor: #ffffff,
    v-input-fieldset-color: #b4b8c9,
    v-input-fieldset-hover-color: #b4b8c9,
    v-input-icon-color: #555,
    v-input-readonly-border-color: #b4b8c9,
    v-input-readonly-backgroundColor: #f5f5f5,
    v-input-disabled-backgroundColor: #eee,
    v-input-disabled-color: #bbb,
    v-select-label-color: #111,
    v-calendar-weekday-backgroundColor: #e0e0e0,
    v-calendar-weekday-color: #111,
    v-calendar-weekday-border-color: #d4d4d4,
    v-calendar-day-color: #111,
    v-calendar-day-in-not-month-color: #f8f8f8,
    v-calendar-is-today-background-color: #e3eaf3,
    tui-grid-header-backgroundColor: #e0e0e0,
    tui-grid-border-horziontal-color: #e0e0e0,
    tui-grid-border-vertical-color: #d4d4d4,
    tui-grid-cell-backgroundColor: #fff,
    tui-grid-cell-color: #555,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #ecf2fa,
    tui-grid-cell-modify-color: #e6f5f7,
    tui-grid-cell-removed-color: #fddde1,
    tui-grid-cell-hover-backgroundColor: #f5f5f5,
    v-tabs-items-border-color: #989db1,
    v-tabs-backgroundColor: #ddd,
    v-tabs-active-backgroundColor: #fff,
    v-tabs-active-border-color: #989db1,
    v-dialog-card-text-color: #111,
    tui-datepicker-backgroundColor: #fff,
    tui-datepicker-border-color: #b4b8c9,
    tui-datepicker-selectable-hover-color: #e1e7f3,
    tui-datepicker-selected-color: #4777d9,
    tui-datepicker-calendar-color: #111,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #e7607b,
    color-point: #009bb4,
    color-primary-hover: #002651,
    color-secondary: #a4a9b6,
    bg-color-basic: #ffffff,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #f5f5f5,
    bg-color-disabled2: #d4d4d4,
    bg-color-paging: #f5f5f5,
    bd-color-basic: #d7dae4,
    bd-color-secondary: #eef0f5,
    bd-color-disabled: #d7dae4,
    bd-color-chkbox: #222222,
    bg-color-grid-hd: #eef0f5,
    bg-color-grid-odd: #ffffff,
    bg-color-grid-even: #f5f5f5,
    bg-color-grid-hover: #caeaef,
    bg-color-grid-selected: #fffcd2,
    bg-color-input: #ffffff,
    bg-color-input-readonly: #eaeaec,
    ft-color-secondary: #a4a9b6,
    ft-color-basic: #ffffff,
    ft-color-disabled: #d4d4d4,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,
    


    bg-color-leftMenu: #11ACA8,
    color-primary: #11ACA8,
    router-tab-item-active-color: #11ACA8,
    ft-color-listbox: #11ACA8,
    ft-color-listbox-hover: #11ACA8,
    router-tab-item-hover-color: #11ACA8,

    ft-color-primary: #0F9595,
    left-menu-1depth-active-color:#0F9595,
  ),
  colGreen: (
    w-g5: $--color-gray_555,
    g5-w: $--color-white,
    gc-g9: $--color-gray_999,
    g5-gc: $--color-gray_C,
    g7-g9: $--color-gray_9,
    g9-g7: $--color-gray_7,
    fontColor: #333,
    pageBackground: #ececef,
    cardBackground: #fefefe,
    hover: #f0f5fc,
    btnClose: #f1f0f8,
    scrollbar-track: #e9e9e9,
    scrollbar-thumb: #bbbbbb,
    card-default-color: #111,
    card-subtitle: #555,
    activate: #111,
    non-activate: #555,
    text-subcolor: #999,
    border-color: #ddd,
    router-header: #fff,
    router-tab-item: #ffffff,
    router-tab-item-active: #f1f2f7,
    router-tab-item-border: #eef0f5,
    router-tab-item-color: #a4a9b6,
    router-tab-item-icon-color: #838aa6,
    router-tab-item-icon-active-color: #3e4c57,
    router-tab-slot-end-button-backgroundColor: #3f4d7d,
    v-btn-backgroundColor: #4777d9,
    v-box: #f0f3fa,
    v-banner-border-color: #ddd,
    v-treeview-node-root-backgroundColor: #e7607b,
    v-treeview-node-root-label-color: #111,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #555,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #e1e7f3,
    v-treeview-node-label-color: #555,
    v-treeview-node-label-active-color: #111,
    v-treeview-leaf-active-backgroundColor: #edf1f7,
    v-treeview-leaf-active-color: #366dbe,
    v-treeview-icon-color: #a4aac3,
    v-treeview-icon-active-color: #616885,
    v-input-backgroundColor: #ffffff,
    v-input-fieldset-color: #b4b8c9,
    v-input-fieldset-hover-color: #b4b8c9,
    v-input-icon-color: #555,
    v-input-readonly-border-color: #b4b8c9,
    v-input-readonly-backgroundColor: #f5f5f5,
    v-input-disabled-backgroundColor: #eee,
    v-input-disabled-color: #bbb,
    v-select-label-color: #111,
    v-calendar-weekday-backgroundColor: #e0e0e0,
    v-calendar-weekday-color: #111,
    v-calendar-weekday-border-color: #d4d4d4,
    v-calendar-day-color: #111,
    v-calendar-day-in-not-month-color: #f8f8f8,
    v-calendar-is-today-background-color: #e3eaf3,
    tui-grid-header-backgroundColor: #e0e0e0,
    tui-grid-border-horziontal-color: #e0e0e0,
    tui-grid-border-vertical-color: #d4d4d4,
    tui-grid-cell-backgroundColor: #fff,
    tui-grid-cell-color: #555,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #ecf2fa,
    tui-grid-cell-modify-color: #e6f5f7,
    tui-grid-cell-removed-color: #fddde1,
    tui-grid-cell-hover-backgroundColor: #f5f5f5,
    v-tabs-items-border-color: #989db1,
    v-tabs-backgroundColor: #ddd,
    v-tabs-active-backgroundColor: #fff,
    v-tabs-active-border-color: #989db1,
    v-dialog-card-text-color: #111,
    tui-datepicker-backgroundColor: #fff,
    tui-datepicker-border-color: #b4b8c9,
    tui-datepicker-selectable-hover-color: #e1e7f3,
    tui-datepicker-selected-color: #4777d9,
    tui-datepicker-calendar-color: #111,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #e7607b,
    color-point: #009bb4,
    color-primary-hover: #002651,
    color-secondary: #a4a9b6,
    bg-color-basic: #ffffff,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #f5f5f5,
    bg-color-disabled2: #d4d4d4,
    bg-color-paging: #f5f5f5,
    bd-color-basic: #d7dae4,
    bd-color-secondary: #eef0f5,
    bd-color-disabled: #d7dae4,
    bd-color-chkbox: #222222,
    bg-color-grid-hd: #eef0f5,
    bg-color-grid-odd: #ffffff,
    bg-color-grid-even: #f5f5f5,
    bg-color-grid-hover: #caeaef,
    bg-color-grid-selected: #fffcd2,
    bg-color-input: #ffffff,
    bg-color-input-readonly: #eaeaec,
    ft-color-secondary: #a4a9b6,
    ft-color-basic: #ffffff,
    ft-color-disabled: #d4d4d4,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,



    bg-color-leftMenu: #12B967,
    color-primary: #12B967,
    router-tab-item-active-color: #12B967,
    ft-color-listbox: #12B967,
    ft-color-listbox-hover: #12B967,
    router-tab-item-hover-color: #12B967,

    ft-color-primary: #119B57,
    left-menu-1depth-active-color:#119B57,
  ),
  colBlue: (
    w-g5: $--color-gray_555,
    g5-w: $--color-white,
    gc-g9: $--color-gray_999,
    g5-gc: $--color-gray_C,
    g7-g9: $--color-gray_9,
    g9-g7: $--color-gray_7,
    fontColor: #333,
    pageBackground: #ececef,
    cardBackground: #fefefe,
    hover: #f0f5fc,
    btnClose: #f1f0f8,
    scrollbar-track: #e9e9e9,
    scrollbar-thumb: #bbbbbb,
    card-default-color: #111,
    card-subtitle: #555,
    activate: #111,
    non-activate: #555,
    text-subcolor: #999,
    border-color: #ddd,
    router-header: #fff,
    router-tab-item: #ffffff,
    router-tab-item-active: #f1f2f7,
    router-tab-item-border: #eef0f5,
    router-tab-item-color: #a4a9b6,
    router-tab-item-icon-color: #838aa6,
    router-tab-item-icon-active-color: #3e4c57,
    router-tab-slot-end-button-backgroundColor: #3f4d7d,
    v-btn-backgroundColor: #4777d9,
    v-box: #f0f3fa,
    v-banner-border-color: #ddd,
    v-treeview-node-root-backgroundColor: #e7607b,
    v-treeview-node-root-label-color: #111,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #555,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #e1e7f3,
    v-treeview-node-label-color: #555,
    v-treeview-node-label-active-color: #111,
    v-treeview-leaf-active-backgroundColor: #edf1f7,
    v-treeview-leaf-active-color: #366dbe,
    v-treeview-icon-color: #a4aac3,
    v-treeview-icon-active-color: #616885,
    v-input-backgroundColor: #ffffff,
    v-input-fieldset-color: #b4b8c9,
    v-input-fieldset-hover-color: #b4b8c9,
    v-input-icon-color: #555,
    v-input-readonly-border-color: #b4b8c9,
    v-input-readonly-backgroundColor: #f5f5f5,
    v-input-disabled-backgroundColor: #eee,
    v-input-disabled-color: #bbb,
    v-select-label-color: #111,
    v-calendar-weekday-backgroundColor: #e0e0e0,
    v-calendar-weekday-color: #111,
    v-calendar-weekday-border-color: #d4d4d4,
    v-calendar-day-color: #111,
    v-calendar-day-in-not-month-color: #f8f8f8,
    v-calendar-is-today-background-color: #e3eaf3,
    tui-grid-header-backgroundColor: #e0e0e0,
    tui-grid-border-horziontal-color: #e0e0e0,
    tui-grid-border-vertical-color: #d4d4d4,
    tui-grid-cell-backgroundColor: #fff,
    tui-grid-cell-color: #555,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #ecf2fa,
    tui-grid-cell-modify-color: #e6f5f7,
    tui-grid-cell-removed-color: #fddde1,
    tui-grid-cell-hover-backgroundColor: #f5f5f5,
    v-tabs-items-border-color: #989db1,
    v-tabs-backgroundColor: #ddd,
    v-tabs-active-backgroundColor: #fff,
    v-tabs-active-border-color: #989db1,
    v-dialog-card-text-color: #111,
    tui-datepicker-backgroundColor: #fff,
    tui-datepicker-border-color: #b4b8c9,
    tui-datepicker-selectable-hover-color: #e1e7f3,
    tui-datepicker-selected-color: #4777d9,
    tui-datepicker-calendar-color: #111,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #e7607b,
    color-point: #009bb4,
    color-primary-hover: #002651,
    color-secondary: #a4a9b6,
    bg-color-basic: #ffffff,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #f5f5f5,
    bg-color-disabled2: #d4d4d4,
    bg-color-paging: #f5f5f5,
    bd-color-basic: #d7dae4,
    bd-color-secondary: #eef0f5,
    bd-color-disabled: #d7dae4,
    bd-color-chkbox: #222222,
    bg-color-grid-hd: #eef0f5,
    bg-color-grid-odd: #ffffff,
    bg-color-grid-even: #f5f5f5,
    bg-color-grid-hover: #caeaef,
    bg-color-grid-selected: #fffcd2,
    bg-color-input: #ffffff,
    bg-color-input-readonly: #eaeaec,
    ft-color-secondary: #a4a9b6,
    ft-color-basic: #ffffff,
    ft-color-disabled: #d4d4d4,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,



    bg-color-leftMenu: #0072BB,
    color-primary: #0072BB,
    router-tab-item-active-color: #0072BB,
    ft-color-listbox: #0072BB,
    ft-color-listbox-hover: #0072BB,
    router-tab-item-hover-color: #0072BB,

    ft-color-primary: #0065A6,
    left-menu-1depth-active-color:#0065A6,
  ),
  colOrange: (
    w-g5: $--color-gray_555,
    g5-w: $--color-white,
    gc-g9: $--color-gray_999,
    g5-gc: $--color-gray_C,
    g7-g9: $--color-gray_9,
    g9-g7: $--color-gray_7,
    fontColor: #333,
    pageBackground: #ececef,
    cardBackground: #fefefe,
    hover: #f0f5fc,
    btnClose: #f1f0f8,
    scrollbar-track: #e9e9e9,
    scrollbar-thumb: #bbbbbb,
    card-default-color: #111,
    card-subtitle: #555,
    activate: #111,
    non-activate: #555,
    text-subcolor: #999,
    border-color: #ddd,
    router-header: #fff,
    router-tab-item: #ffffff,
    router-tab-item-active: #f1f2f7,
    router-tab-item-border: #eef0f5,
    router-tab-item-color: #a4a9b6,
    router-tab-item-icon-color: #838aa6,
    router-tab-item-icon-active-color: #3e4c57,
    router-tab-slot-end-button-backgroundColor: #3f4d7d,
    v-btn-backgroundColor: #4777d9,
    v-box: #f0f3fa,
    v-banner-border-color: #ddd,
    v-treeview-node-root-backgroundColor: #e7607b,
    v-treeview-node-root-label-color: #111,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #555,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #e1e7f3,
    v-treeview-node-label-color: #555,
    v-treeview-node-label-active-color: #111,
    v-treeview-leaf-active-backgroundColor: #edf1f7,
    v-treeview-leaf-active-color: #366dbe,
    v-treeview-icon-color: #a4aac3,
    v-treeview-icon-active-color: #616885,
    v-input-backgroundColor: #ffffff,
    v-input-fieldset-color: #b4b8c9,
    v-input-fieldset-hover-color: #b4b8c9,
    v-input-icon-color: #555,
    v-input-readonly-border-color: #b4b8c9,
    v-input-readonly-backgroundColor: #f5f5f5,
    v-input-disabled-backgroundColor: #eee,
    v-input-disabled-color: #bbb,
    v-select-label-color: #111,
    v-calendar-weekday-backgroundColor: #e0e0e0,
    v-calendar-weekday-color: #111,
    v-calendar-weekday-border-color: #d4d4d4,
    v-calendar-day-color: #111,
    v-calendar-day-in-not-month-color: #f8f8f8,
    v-calendar-is-today-background-color: #e3eaf3,
    tui-grid-header-backgroundColor: #e0e0e0,
    tui-grid-border-horziontal-color: #e0e0e0,
    tui-grid-border-vertical-color: #d4d4d4,
    tui-grid-cell-backgroundColor: #fff,
    tui-grid-cell-color: #555,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #ecf2fa,
    tui-grid-cell-modify-color: #e6f5f7,
    tui-grid-cell-removed-color: #fddde1,
    tui-grid-cell-hover-backgroundColor: #f5f5f5,
    v-tabs-items-border-color: #989db1,
    v-tabs-backgroundColor: #ddd,
    v-tabs-active-backgroundColor: #fff,
    v-tabs-active-border-color: #989db1,
    v-dialog-card-text-color: #111,
    tui-datepicker-backgroundColor: #fff,
    tui-datepicker-border-color: #b4b8c9,
    tui-datepicker-selectable-hover-color: #e1e7f3,
    tui-datepicker-selected-color: #4777d9,
    tui-datepicker-calendar-color: #111,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #e7607b,
    color-point: #009bb4,
    color-primary-hover: #002651,
    color-secondary: #a4a9b6,
    bg-color-basic: #ffffff,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #f5f5f5,
    bg-color-disabled2: #d4d4d4,
    bg-color-paging: #f5f5f5,
    bd-color-basic: #d7dae4,
    bd-color-secondary: #eef0f5,
    bd-color-disabled: #d7dae4,
    bd-color-chkbox: #222222,
    bg-color-grid-hd: #eef0f5,
    bg-color-grid-odd: #ffffff,
    bg-color-grid-even: #f5f5f5,
    bg-color-grid-hover: #caeaef,
    bg-color-grid-selected: #fffcd2,
    bg-color-input: #ffffff,
    bg-color-input-readonly: #eaeaec,
    ft-color-secondary: #a4a9b6,
    ft-color-basic: #ffffff,
    ft-color-disabled: #d4d4d4,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,



    bg-color-leftMenu: #EE7910,
    color-primary: #EE7910,
    router-tab-item-active-color: #EE7910,
    ft-color-listbox: #EE7910,
    ft-color-listbox-hover: #EE7910,
    router-tab-item-hover-color: #EE7910,

    ft-color-primary: #DF6900,
    left-menu-1depth-active-color:#DF6900,
  ),
  colGray: (
    w-g5: $--color-gray_555,
    g5-w: $--color-white,
    gc-g9: $--color-gray_999,
    g5-gc: $--color-gray_C,
    g7-g9: $--color-gray_9,
    g9-g7: $--color-gray_7,
    fontColor: #333,
    pageBackground: #ececef,
    cardBackground: #fefefe,
    hover: #f0f5fc,
    btnClose: #f1f0f8,
    scrollbar-track: #e9e9e9,
    scrollbar-thumb: #bbbbbb,
    card-default-color: #111,
    card-subtitle: #555,
    activate: #111,
    non-activate: #555,
    text-subcolor: #999,
    border-color: #ddd,
    router-header: #fff,
    router-tab-item: #ffffff,
    router-tab-item-active: #f1f2f7,
    router-tab-item-border: #eef0f5,
    router-tab-item-color: #a4a9b6,
    router-tab-item-icon-color: #838aa6,
    router-tab-item-icon-active-color: #3e4c57,
    router-tab-slot-end-button-backgroundColor: #3f4d7d,
    v-btn-backgroundColor: #4777d9,
    v-box: #f0f3fa,
    v-banner-border-color: #ddd,
    v-treeview-node-root-backgroundColor: #e7607b,
    v-treeview-node-root-label-color: #111,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #555,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #e1e7f3,
    v-treeview-node-label-color: #555,
    v-treeview-node-label-active-color: #111,
    v-treeview-leaf-active-backgroundColor: #edf1f7,
    v-treeview-leaf-active-color: #366dbe,
    v-treeview-icon-color: #a4aac3,
    v-treeview-icon-active-color: #616885,
    v-input-backgroundColor: #ffffff,
    v-input-fieldset-color: #b4b8c9,
    v-input-fieldset-hover-color: #b4b8c9,
    v-input-icon-color: #555,
    v-input-readonly-border-color: #b4b8c9,
    v-input-readonly-backgroundColor: #f5f5f5,
    v-input-disabled-backgroundColor: #eee,
    v-input-disabled-color: #bbb,
    v-select-label-color: #111,
    v-calendar-weekday-backgroundColor: #e0e0e0,
    v-calendar-weekday-color: #111,
    v-calendar-weekday-border-color: #d4d4d4,
    v-calendar-day-color: #111,
    v-calendar-day-in-not-month-color: #f8f8f8,
    v-calendar-is-today-background-color: #e3eaf3,
    tui-grid-header-backgroundColor: #e0e0e0,
    tui-grid-border-horziontal-color: #e0e0e0,
    tui-grid-border-vertical-color: #d4d4d4,
    tui-grid-cell-backgroundColor: #fff,
    tui-grid-cell-color: #555,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #ecf2fa,
    tui-grid-cell-modify-color: #e6f5f7,
    tui-grid-cell-removed-color: #fddde1,
    tui-grid-cell-hover-backgroundColor: #f5f5f5,
    v-tabs-items-border-color: #989db1,
    v-tabs-backgroundColor: #ddd,
    v-tabs-active-backgroundColor: #fff,
    v-tabs-active-border-color: #989db1,
    v-dialog-card-text-color: #111,
    tui-datepicker-backgroundColor: #fff,
    tui-datepicker-border-color: #b4b8c9,
    tui-datepicker-selectable-hover-color: #e1e7f3,
    tui-datepicker-selected-color: #4777d9,
    tui-datepicker-calendar-color: #111,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #e7607b,
    color-point: #009bb4,
    color-primary-hover: #002651,
    color-secondary: #a4a9b6,
    bg-color-basic: #ffffff,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #f5f5f5,
    bg-color-disabled2: #d4d4d4,
    bg-color-paging: #f5f5f5,
    bd-color-basic: #d7dae4,
    bd-color-secondary: #eef0f5,
    bd-color-disabled: #d7dae4,
    bd-color-chkbox: #222222,
    bg-color-grid-hd: #eef0f5,
    bg-color-grid-odd: #ffffff,
    bg-color-grid-even: #f5f5f5,
    bg-color-grid-hover: #caeaef,
    bg-color-grid-selected: #fffcd2,
    bg-color-input: #ffffff,
    bg-color-input-readonly: #eaeaec,
    ft-color-secondary: #a4a9b6,
    ft-color-basic: #ffffff,
    ft-color-disabled: #d4d4d4,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,



    bg-color-leftMenu: #6C757E,
    color-primary: #6C757E,
    router-tab-item-active-color: #6C757E,
    ft-color-listbox: #6C757E,
    ft-color-listbox-hover: #6C757E,
    router-tab-item-hover-color: #6C757E,

    ft-color-primary: #5D656D,
    left-menu-1depth-active-color:#5D656D,
  ),
  colNavy: (
    w-g5: $--color-gray_555,
    g5-w: $--color-white,
    gc-g9: $--color-gray_999,
    g5-gc: $--color-gray_C,
    g7-g9: $--color-gray_9,
    g9-g7: $--color-gray_7,
    fontColor: #333,
    pageBackground: #ececef,
    cardBackground: #fefefe,
    hover: #f0f5fc,
    btnClose: #f1f0f8,
    scrollbar-track: #e9e9e9,
    scrollbar-thumb: #bbbbbb,
    card-default-color: #111,
    card-subtitle: #555,
    activate: #111,
    non-activate: #555,
    text-subcolor: #999,
    border-color: #ddd,
    router-header: #fff,
    router-tab-item: #ffffff,
    router-tab-item-active: #f1f2f7,
    router-tab-item-border: #eef0f5,
    router-tab-item-color: #a4a9b6,
    router-tab-item-icon-color: #838aa6,
    router-tab-item-icon-active-color: #3e4c57,
    router-tab-slot-end-button-backgroundColor: #3f4d7d,
    v-btn-backgroundColor: #4777d9,
    v-box: #f0f3fa,
    v-banner-border-color: #ddd,
    v-treeview-node-root-backgroundColor: #e7607b,
    v-treeview-node-root-label-color: #111,
    v-treeview-node-root-label-active-color: #fff,
    v-treeview-node-root-icon-color: #555,
    v-treeview-node-root-icon-active-color: #fff,
    v-treeview-node-subroot-backgroundColor: #e1e7f3,
    v-treeview-node-label-color: #555,
    v-treeview-node-label-active-color: #111,
    v-treeview-leaf-active-backgroundColor: #edf1f7,
    v-treeview-leaf-active-color: #366dbe,
    v-treeview-icon-color: #a4aac3,
    v-treeview-icon-active-color: #616885,
    v-input-backgroundColor: #ffffff,
    v-input-fieldset-color: #b4b8c9,
    v-input-fieldset-hover-color: #b4b8c9,
    v-input-icon-color: #555,
    v-input-readonly-border-color: #b4b8c9,
    v-input-readonly-backgroundColor: #f5f5f5,
    v-input-disabled-backgroundColor: #eee,
    v-input-disabled-color: #bbb,
    v-select-label-color: #111,
    v-calendar-weekday-backgroundColor: #e0e0e0,
    v-calendar-weekday-color: #111,
    v-calendar-weekday-border-color: #d4d4d4,
    v-calendar-day-color: #111,
    v-calendar-day-in-not-month-color: #f8f8f8,
    v-calendar-is-today-background-color: #e3eaf3,
    tui-grid-header-backgroundColor: #e0e0e0,
    tui-grid-border-horziontal-color: #e0e0e0,
    tui-grid-border-vertical-color: #d4d4d4,
    tui-grid-cell-backgroundColor: #fff,
    tui-grid-cell-color: #555,
    tui-grid-cell-insert-color: #13636c,
    tui-grid-cell-selected-color: #ecf2fa,
    tui-grid-cell-modify-color: #e6f5f7,
    tui-grid-cell-removed-color: #fddde1,
    tui-grid-cell-hover-backgroundColor: #f5f5f5,
    v-tabs-items-border-color: #989db1,
    v-tabs-backgroundColor: #ddd,
    v-tabs-active-backgroundColor: #fff,
    v-tabs-active-border-color: #989db1,
    v-dialog-card-text-color: #111,
    tui-datepicker-backgroundColor: #fff,
    tui-datepicker-border-color: #b4b8c9,
    tui-datepicker-selectable-hover-color: #e1e7f3,
    tui-datepicker-selected-color: #4777d9,
    tui-datepicker-calendar-color: #111,
    tui-editor-contents-color: #111,
    admin-menu-expanded-list-backgroundColor: #e7607b,
    color-point: #009bb4,
    color-primary-hover: #002651,
    color-secondary: #a4a9b6,
    bg-color-basic: #ffffff,
    bg-color-secondary: #878d9f,
    bg-color-secondary-hover: #626778,
    bg-color-disabled: #f5f5f5,
    bg-color-disabled2: #d4d4d4,
    bg-color-paging: #f5f5f5,
    bd-color-basic: #d7dae4,
    bd-color-secondary: #eef0f5,
    bd-color-disabled: #d7dae4,
    bd-color-chkbox: #222222,
    bg-color-grid-hd: #eef0f5,
    bg-color-grid-odd: #ffffff,
    bg-color-grid-even: #f5f5f5,
    bg-color-grid-hover: #caeaef,
    bg-color-grid-selected: #fffcd2,
    bg-color-input: #ffffff,
    bg-color-input-readonly: #eaeaec,
    ft-color-secondary: #a4a9b6,
    ft-color-basic: #ffffff,
    ft-color-disabled: #d4d4d4,
    menu-border-bottom-color:#E2E3EB,
    menu-2depth-active-bg:#EFF0F6,



    bg-color-leftMenu: #0D518B,
    color-primary: #0D518B,
    router-tab-item-active-color: #0D518B,
    ft-color-listbox: #0D518B,
    ft-color-listbox-hover: #0D518B,
    router-tab-item-hover-color: #0D518B,

    ft-color-primary: #0A487D,
    left-menu-1depth-active-color:#0A487D,
  ),
);