.tui-grid {
  &-layer-state {
    z-index: 5 !important;
  }

  // &-layer-selection {
  //   width: calc(100% - 2px) !important;
  // }

  &-container {
    width: 100%;
    border-radius: 10px;
  }
  &-content-area {
    width: 100%;
    border: 0;
  }

  // &-body-container {
  //   width: 100% !important;
  // }

  // &-table {
  //   width: 100% !important;
  // }

  // &-lside-area .tui-grid-body-area {
  //   margin-right: -11px;
  // }

  &-rside-area {
    .tui-grid-header-area,
    .tui-grid-summary-area {
      margin-right: $scrollbar-width;
    }
  }

  &-border-line-top,
  &-border-line-bottom,
  &-border-line-right {
    border: 0 !important;
  }
  &-cell {
    border-width: 1px !important;
  }
  &-cell-header {
    border-top: 0;
  }

  &-cell-header,
  &-cell-content,
  &-cell.tui-grid-cell-summary {
    font-family: "Spoqa Han Sans Neo";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0178571429em;
  }
}
.treeGrid {
  .tui-grid {
    &-header-area {
      display: none;
    }

    &-cell {
      border: 0;
      background-color: transparent;
    }
  }
}

@each $theme in dark, light {
  @include theme($theme);
  .v-application.#{$theme}-mode {
    .tui-grid {
      &-container,
      &-summary-area {
        & ::-webkit-scrollbar {
          width: $scrollbar-width !important;
          height: $scrollbar-width !important;
          -webkit-appearance: initial;
          background-color: map-deep-get(
            $config,
            #{$theme},
            "scrollbar-track"
          ) !important;
          border-radius: 3px !important;
        }

        & ::-webkit-scrollbar-track {
          background-color: map-deep-get(
            $config,
            #{$theme},
            "scrollbar-track"
          ) !important;
        }

        & ::-webkit-scrollbar-thumb {
          width: 4px !important;
          height: 4px !important;
          background-color: map-deep-get($config, #{$theme}, "scrollbar-thumb");
          border-radius: 3px;
        }
      }

      &-rside-area {
        background-color: map-deep-get($config, #{$theme}, "scrollbar-track");
      }

      &-scrollbar-left-bottom {
        background-color: map-deep-get($config, #{$theme}, "cardBackground");
        border-color: map-deep-get($config, #{$theme}, "cardBackground");
      }

      &-scrollbar-right-top {
        background-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-header-backgroundColor"
        );
        border-left-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-border-horziontal-color"
        );
        border-right-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-border-horziontal-color"
        );
        border-bottom-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-border-vertical-color"
        );
      }

      &-scrollbar-right-bottom {
        width: $scrollbar-width !important;
        height: $scrollbar-width !important;
        // display: none !important;
        border-color: map-deep-get($config, #{$theme}, "scrollbar-track");
        background-color: map-deep-get($config, #{$theme}, "scrollbar-track");
        // border: none !important;
        // bottom: -1px;
        // right: -2px;
        box-sizing: border-box;
      }

      &-scrollbar-frozen-border,
      &-scrollbar-y-outer-border,
      &-scrollbar-y-inner-border {
        background-color: transparent !important;
        border-color: transparent !important;
      }

      &-body-area {
        overflow: auto !important;
      }

      &-container,
      &-layer-state,
      &-body-area,
      &-summary-area,
      &-cell {
        background-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-cell-backgroundColor"
        );
        border-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-border-vertical-color"
        );
      }

      &-cell-summary {
        text-align: center;
      }

      &-header-area,
      &-cell-header {
        background-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-header-backgroundColor"
        );
        border-color: map-deep-get(
          $config,
          #{$theme},
          "tui-grid-border-vertical-color"
        );
        color: map-deep-get($config, #{$theme}, "activate");
      }

      &-row-odd,
      &-row-even {
        .tui-grid-cell-content {
          color: map-deep-get($config, #{$theme}, "tui-grid-cell-color");
        }

        &:hover {
          > .tui-grid-cell {
            background-color: map-deep-get(
              $config,
              #{$theme},
              "tui-grid-cell-hover-backgroundColor"
            );

            .tui-grid-cell-content {
              color: map-deep-get($config, #{$theme}, "activate");
            }
          }
        }
      }

      &-cell {
        &.row-insert {
          background-color: map-deep-get(
            $config,
            #{$theme},
            "tui-grid-cell-insert-color"
          );
        }
        &.row-modify {
          background-color: map-deep-get(
            $config,
            #{$theme},
            "tui-grid-cell-modify-color"
          );
        }
        &.row-removed {
          background-color: map-deep-get(
            $config,
            #{$theme},
            "tui-grid-cell-removed-color"
          );
        }

        &.row-selected {
          background-color: map-deep-get(
            $config,
            #{$theme},
            "tui-grid-cell-selected-color"
          );

          .tui-grid-cell-content {
            color: map-deep-get($config, #{$theme}, "activate");
          }
        }
      }

      &-layer-focus-border {
        background-color: transparent;
      }

      &-cell-has-tree {
        .tui-grid-cell-content {
          padding: 0 !important;
        }
      }

      &-tree-extra-content {
        display: flex;
        align-items: center;
        position: relative;

        .tui-grid-tree-depth
        {
          width: 16px;
          height: 16px;
          position: relative;
          left: 0 !important;
          margin-right: 6px;
        }
        
      }

      &-btn-tree {
        width: 16px;
        height: 16px;
        margin-top: 0;
        padding-left: 0;
        margin-right: 6px;
        top: 0;
        left: 0 !important;
        i {
          margin-top: 0;
        }
      }

      &-tree-icon {
        margin-top: 0;
        top: 0;
        i {
          width: 16px;
          height: 16px;
          margin-left: 0;
          background-repeat: no-repeat;
          background-position: 0 0;
          @if $theme == dark {
            background-image: url("data:image/svg+xml,%3Csvg id='ico_tree_item' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-4 %7B fill: none; %7D .cls-1 %7B stroke: %23fff; opacity: 0.3; %7D .cls-2 %7B fill: %23fff; %7D .cls-3 %7B stroke: none; %7D %3C/style%3E%3C/defs%3E%3Cg id='사각형_703' data-name='사각형 703' class='cls-1'%3E%3Crect class='cls-3' width='16' height='16' rx='3'/%3E%3Crect class='cls-4' x='0.5' y='0.5' width='15' height='15' rx='2.5'/%3E%3C/g%3E%3Crect id='사각형_1384' data-name='사각형 1384' class='cls-2' width='8' height='1' rx='0.5' transform='translate(4 4.5)'/%3E%3Crect id='사각형_1386' data-name='사각형 1386' class='cls-2' width='8' height='1' rx='0.5' transform='translate(4 7.5)'/%3E%3Crect id='사각형_1387' data-name='사각형 1387' class='cls-2' width='8' height='1' rx='0.5' transform='translate(4 10.5)'/%3E%3C/svg%3E%0A");
          } @else {
            background-image: url("data:image/svg+xml,%3Csvg id='ico_tree_item' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:%23a4aac3%7D %3C/style%3E%3C/defs%3E%3Cg id='사각형_703' data-name='사각형 703' style='stroke:%23a4aac3;fill:none'%3E%3Crect width='16' height='16' rx='3' style='stroke:none'/%3E%3Crect x='.5' y='.5' width='15' height='15' rx='2.5' style='fill:none'/%3E%3C/g%3E%3Crect id='사각형_1384' data-name='사각형 1384' class='cls-2' width='8' height='1' rx='.5' transform='translate(4 4.5)'/%3E%3Crect id='사각형_1386' data-name='사각형 1386' class='cls-2' width='8' height='1' rx='.5' transform='translate(4 7.5)'/%3E%3Crect id='사각형_1387' data-name='사각형 1387' class='cls-2' width='8' height='1' rx='.5' transform='translate(4 10.5)'/%3E%3C/svg%3E%0A");
          }
        }
      }

      &-tree-button-expand {
        .tui-grid-btn-tree {
          i {
            width: 16px;
            height: 16px;
            background-position: 0 0;
            @if $theme == dark {
              background-image: url("data:image/svg+xml,%3Csvg id='btn_tree_item_close' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %230d0f17; stroke: %23fff; opacity: 0.3; %7D .cls-2 %7B fill: %23fff; %7D .cls-3 %7B stroke: none; %7D .cls-4 %7B fill: none; %7D %3C/style%3E%3C/defs%3E%3Cg id='사각형_703' data-name='사각형 703' class='cls-1'%3E%3Crect class='cls-3' width='16' height='16' rx='3'/%3E%3Crect class='cls-4' x='0.5' y='0.5' width='15' height='15' rx='2.5'/%3E%3C/g%3E%3Crect id='사각형_1384' data-name='사각형 1384' class='cls-2' width='8' height='2' rx='1' transform='translate(4 7)'/%3E%3C/svg%3E%0A");
            } @else {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg data-name='사각형 703' style='fill:%23f1f3f9;stroke:%23a4aac3'%3E%3Crect width='16' height='16' rx='3' style='stroke:none'/%3E%3Crect x='.5' y='.5' width='15' height='15' rx='2.5' style='fill:none'/%3E%3C/g%3E%3Crect data-name='사각형 1384' width='8' height='2' rx='1' transform='translate(4 7)' style='fill:%23a4aac3'/%3E%3C/svg%3E ");
            }
          }
        }
      }

      &-tree-button-collapse {
        .tui-grid-btn-tree {
          i {
            width: 16px;
            height: 16px;
            background-position: 0 0;
            @if $theme == dark {
              background-image: url("data:image/svg+xml,%3Csvg id='btn_tree_item_open' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:%23fff%7D %3C/style%3E%3C/defs%3E%3Cg id='사각형_703' data-name='사각형 703' style='fill:%230d0f17;stroke:%23fff;opacity:.3'%3E%3Crect width='16' height='16' rx='3' style='stroke:none'/%3E%3Crect x='.5' y='.5' width='15' height='15' rx='2.5' style='fill:none'/%3E%3C/g%3E%3Crect id='사각형_1384' data-name='사각형 1384' class='cls-2' width='8' height='2' rx='1' transform='translate(4 7)'/%3E%3Crect id='사각형_1385' data-name='사각형 1385' class='cls-2' width='2' height='8' rx='1' transform='translate(7 4)'/%3E%3C/svg%3E%0A");
            } @else {
              background-image: url("data:image/svg+xml,%3Csvg id='btn_tree_item_open' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cdefs%3E%3Cstyle%3E .cls-2%7Bfill:%23a4aac3%7D %3C/style%3E%3C/defs%3E%3Cg id='사각형_703' data-name='사각형 703' style='fill:%23f1f3f9;stroke:%23a4aac3'%3E%3Crect width='16' height='16' rx='3' style='stroke:none'/%3E%3Crect x='.5' y='.5' width='15' height='15' rx='2.5' style='fill:none'/%3E%3C/g%3E%3Crect id='사각형_1384' data-name='사각형 1384' class='cls-2' width='8' height='2' rx='1' transform='translate(4 7)'/%3E%3Crect id='사각형_1385' data-name='사각형 1385' class='cls-2' width='2' height='8' rx='1' transform='translate(7 4)'/%3E%3C/svg%3E ");
            }
          }
        }
      }

      &-tree-button-expand,
      &-tree-button-collapse {
        .tui-grid-tree-icon {
          display: none;
        }
      }

      &-frozen-border {
        background-color: transparent;
      }
    }

    [class*="tui-grid-tree-wrapper"] {
      display: flex;
      align-items: center;
      padding-left: 0 !important;
    }
  }
}
